@import "_nullstyle.scss";
@import "_ibg.scss";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans&display=swap");
@font-face {
	font-family: "Gotham-Black";
	src: url("fonts/Gotham.eot");
	src: local("☺"), url("../fonts/Gotham-Black.woff") format("woff"),
		url("../fonts/Gotham-Black.ttf") format("truetype"), url("../fonts/Gotham-Black.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

/*font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;*/

.wraper {
	max-width: 1700px;
	margin: 0 auto;
}

.container {
	max-width: 1180px;
	padding: 0px 10px;
	margin: 0 auto;
}
.title {
	font-family: "Gotham-Black";
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	font-weight: 900;
	letter-spacing: -0.88px;
	color: #394b50;
}

.text {
	font-family: "Open Sans", sans-serif;
	line-height: 1.5;
	text-align: center;
	color: #394b50;
	font-size: 16px;
	padding-top: 10px;
}
/*============header===================*/
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: #fff;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 2;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		padding: 20px 0px;
		align-items: center;
	}

	&__burger {
		display: none;
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}
	}

	&__logo {
		flex: 0 0 50px;
		max-height: 50px;
		overflow: hidden;
		z-index: 3;
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__list {
		display: flex;
		position: relative;
		z-index: 3;
		li {
			&:hover {
				background-color: orange;
				color: #fff;
				border-radius: 2px;
				a {
					color: #fff;
				}
			}
		}
		@media (max-width: 1000px) {
			li {
				&:hover {
					background-color: transparent;
					a {
						color: #709dca;
					}
				}
			}
		}
	}

	&__link {
		margin-left: 10px;
		&:first-child {
			margin-left: 0;
		}

		a {
			display: block;
			padding: 12px 20px;
			font-family: "Lato", sans-serif;
			font-size: 14px;
			color: #868686;
			text-transform: uppercase;
		}
		@media (max-width: 860px) {
			a {
				color: #709dca;
			}
		}
	}
}

@media (max-width: 1000px) {
	.header {
		background-color: #edf7fb;
	}
	body.lock {
		overflow: hidden;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 40px;
		height: 30px;
		z-index: 3;
		&:before,
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #709dca;
		}
		&:before {
			top: 5px;
			transition: all 0.4s ease 0s;
		}
		&:after {
			bottom: 5px;
			transition: all 0.4s ease 0s;
		}
		span {
			&:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: #709dca;
				top: 14px;
				transition: all 0.4s ease 0s;
			}
		}
	}
	.header__menu {
		position: fixed;
		overflow: auto;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #edf7fb;
		padding: 60px 0;
	}
	.header__row {
		padding: 10px 0px;
	}
	.header__logo {
		flex: 0 0 30px;
	}
	.header__list {
		display: block;
		text-align: center;
		li {
			padding: 20px 0px;
		}
	}
	.header__link {
		margin-left: 0px;
		a {
			font-size: 24px;
			font-weight: bold;
		}
	}
	.header__menu.active {
		top: 0;
		transition: all 0.4s ease 0s;
	}
	.header__burger.active {
		&:before {
			transform: rotate(225deg);
			top: 16px;
			transition: all 0.4s ease 0s;
		}
		&:after {
			transform: rotate(-225deg);
			bottom: 11px;
			transition: all 0.4s ease 0s;
		}
		span {
			&:after {
				transform: scale(0);
			}
		}
	}
}
/*============baner===================*/
.baner {
	padding-bottom: 315px;
	padding-top: 203px;
	background-color: #709dca;
	&__title {
		font-size: 35px;
		color: #fff;
	}

	&__text {
		color: #fff;
		padding-bottom: 30px;
	}
	&__form {
		div {
			display: inline-block;
		}
		text-align: center;
	}
	input {
		font-family: "Open Sans", sans-serif;
		min-width: 280px;
		min-height: 45px;
		padding: 0px 30px;
		margin-right: 10px;
		border-radius: 3px;
		margin-bottom: 20px;
		&:focus {
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		}
	}
	&__button {
		padding: 13.5px 45px;
	}
}
@media (max-width: 1000px) {
	.baner {
		padding-top: 100px;
	}
}

.button {
	background-color: #ffbb42;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	color: #fff;
	border-radius: 3px;
	transition: all 0.3s ease 0s;
	&:hover {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		transition: all 0.3s ease 0s;
	}
}
.form-button {
	background-color: transparent;
	position: absolute;
	margin-top: 15px;
	margin-left: 10px;
}
i {
	color: #6e6e6e;
}

@media (max-width: 876px) {
	.baner__button {
		display: block;
		margin: 0 auto;
	}
}
@media (max-width: 300px) {
	.baner input {
		min-width: 150px;
		margin: 0 auto 20px auto;
	}
}

/*============/baner===================*/

//==============slider==================
@import "_slider.scss";
.baner-slider {
	display: flex;
	margin-top: -290px;
	&__container {
		position: relative;
		flex: 0 1 647px;
		height: 343px;
		margin: 0 auto;
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.note-slide {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 7%);
	width: 445px;
	height: 264px;
}

@media (max-width: 680px) {
	.baner-slider__container {
		flex: 0 1 323.5px;
		height: 171.5px;
	}
	.note-slide {
		width: 222.5px;
		height: 132px;
		img {
			width: 100%;
			height: 100%;
		}
	}
}
@media (max-width: 340px) {
	.baner-slider__container {
		flex: 0 1 291.15px;
		height: 154.35px;
	}
	.note-slide {
		max-width: 200.25px;
		max-height: 100px;
	}
}
//================/slider==============

//================services==============

.services {
	overflow: hidden;
	margin: 140px 0px 115px 0px;

	&__body {
		padding-top: 80px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: -40px -40px;
	}

	&__item {
		flex: 0 0 50%;
		padding: 40px 40px;
	}
}

.item {
	&__row {
		display: flex;
	}

	&__logo {
		flex: 0 0 70px;
	}

	&__body {
		padding-left: 40px;
	}

	&__title {
		font-family: "Lato", sans-serif;
		color: #394b50;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 1.38;
		padding-bottom: 20px;
	}

	&__text {
		font-family: "Open Sans", sans-serif;
		font-size: 13px;
		line-height: 1.69;
		color: #7b7b7b;
	}
}
.fas.serv {
	font-size: 50px;
	color: #709dca;
	transition: all 0.5s ease 0s;
	&:hover {
		color: #f6772c;
		transform: scale(1.2, 1.2);
		transition: all 0.5s ease 0s;
	}
}
.fab.serv {
	font-size: 50px;
	color: #709dca;
	transition: all 0.5s ease 0s;
	&:hover {
		color: #f6772c;
		transform: scale(1.2, 1.2);
		transition: all 0.5s ease 0s;
	}
}

@media (max-width: 855px) {
	.services {
		margin: 90px 0px 60px 0px;
	}
	.services__item {
		flex: 0 0 100%;
		padding: 10px 40px;
	}
	.services__row {
		padding: 10px 40px;
	}
	.item__logo {
		text-align: center;
	}
	.item__title {
		padding-bottom: 5px;
	}
}
@media (max-width: 680px) {
	.services {
		margin: 180px 0px 60px 0px;
	}
	.services__body {
		padding-top: 50px;
	}
}
@media (max-width: 400px) {
	.item__row {
		display: block;
	}
	.item__logo {
		text-align: center;
		padding-bottom: 10px;
	}
	.item__body {
		padding: 0;
	}
	.item__title {
		text-align: center;
	}
	.item__text {
		padding-bottom: 10px;
		text-align: justify;
	}
	.services__item {
		padding: 0px;
	}
	.services__row {
		margin: 0;
	}
	.services__body {
		padding-top: 20px;
	}
}
//================/services==============

//================about==============
.about {
	&__row {
		display: flex;
	}

	&__item {
		flex: 0 0 50%;
	}

	&__body {
		padding: 165px 265px 175px 80px;
	}

	&__title {
		color: #fff;
		font-size: 30px;
		text-align: left;
		padding-bottom: 30px;
	}

	&__text {
		color: #fff;
		text-align: left;
		font-size: 13px;
		padding-bottom: 30px;
	}

	&__button {
		display: inline-block;
		padding: 12px 30px;
		border: 1px solid #e7ad48;
		text-transform: uppercase;
		font-family: "Lato", sans-serif;
		color: #fff;
		transition: all 0.3s ease 0s;
		&:hover {
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
			transition: all 0.3s ease 0s;
		}
	}
}
.bg {
	background-color: #ffc155;
}
@media (max-width: 1250px) {
	.about__body {
		padding: 165px 80px 175px 80px;
	}
}
@media (max-width: 1000px) {
	.about__body {
		padding: 50px 30px 50px 30px;
	}
}
@media (max-width: 680px) {
	.about__row {
		flex-wrap: wrap;
	}
	.about__item {
		flex: 0 0 100%;
	}
	.img {
		padding-bottom: 344px;
	}
}
//dfdf
//================/about==============

.pricing {
	font-family: "Lato", sans-serif;
	padding: 140px 0px 195px 0px;
	background-color: #e7edf3;
	&__text {
		padding-bottom: 80px;
	}

	&__row {
		display: flex;
	}

	&__column {
		flex: 0 1 33.33%;
		background-color: #fff;
		border: 1px solid #ccd5df;
		border-radius: 3px;
		display: flex;
		justify-content: center;
		transition: all 0.1s ease 0s;
		&:hover {
			transform: scale(1.05, 1.1);
			transition: all 0.7s ease 0s;
			background-color: #709dca;
			color: #fff;
		}
	}

	&__item {
		width: 100%;
		text-transform: uppercase;
		color: #818b95;
		font-size: 14px;
		text-align: center;
		display: flex;
		flex-direction: column;
	}

	&__button {
		display: inline-block;
		padding: 12px 20px;
		margin: 30px auto 40px auto;
	}
}
.column {
	&__title {
		font-size: 25px;
		line-height: 0.88;
		font-weight: 300;
		padding: 50px 0 20px 0;
	}

	&__price {
		font-size: 60px;
		color: #ffbb42;
		font-weight: bold;

		sup {
			display: inline-block;
			transform: translate(0px, 10px);
		}
	}

	&__month {
		margin-bottom: 30px;
	}

	&__info {
		padding: 16px 30px;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			width: 90%;
			height: 1px;
			background-color: #818b95;
			top: 0;
			left: 5%;
		}
	}
	&__big-content {
		flex: 1 1 auto;
	}
}
.hover-price {
	color: #fff;
	position: relative;
}
.hover-info {
	color: #c2e1ff;
	&:before {
		background-color: #8eb8e2;
	}
}

@media (max-width: 745px) {
	.pricing {
		padding: 50px 0px 60px 0px;
	}
	.pricing__text {
		padding-bottom: 20px;
	}
	.pricing__row {
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.pricing__column {
		flex: 0 1 100%;
		max-width: 250px;
		margin: 20px 10px;
	}
}

.work {
	padding: 155px 0px 150px 0px;

	&__text {
		padding-bottom: 100px;
	}

	&__row {
		display: flex;
	}

	&__item {
		flex: 0 1 25%;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			width: 110px;
			height: 25px;
			top: -20px;
			right: -60px;
			background: url("../images/Shape\ 3.png") 0 0 / cover no-repeat;
		}
		&:last-child {
			&:after {
				content: none;
			}
		}
		&:nth-child(2) {
			&:after {
				transform: rotate(180deg);
				top: 60px;
			}
		}
	}
	&__column {
		display: flex;
		flex-direction: column;
		text-align: center;
		position: relative;
	}
	&__button {
		display: inline-block;
		padding: 12px 20px;
		margin-left: 50%;
		transform: translate(-50%, 0);
		margin-top: 80px;
	}
}

.column {
	&__work-logo {
		padding-bottom: 80px;
	}

	&__work-title {
		font-family: "Lato", sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		color: #394b50;
		font-size: 20px;
		line-height: 1.1;
		padding-bottom: 28px;
	}

	&__work-text {
		font-family: "Open Sans", sans-serif;
		color: #7b7b7b;
		line-height: 1.69;
		padding: 0px 20px;
	}
}
.work-fas {
	font-size: 72px;
	text-align: center;
	color: #709dca;
}

@media (max-width: 860px) {
	.work {
		padding: 60px 0px 50px 0px;
	}
	.work__row {
		flex-wrap: wrap;
	}
	.work__item {
		flex: 0 1 50%;
		padding-bottom: 30px;
		&:nth-child(2) {
			&:after {
				content: none;
			}
		}
		&:nth-child(3) {
			&:after {
				transform: rotate(180deg);
				top: 60px;
			}
		}
		.work__text {
			padding-bottom: 30px;
		}
		
		.column__work-logo {
			padding-bottom: 20px;
		}
		.column__work-title {
			padding-bottom: 10px;
		}
	}
	.work__button {
		margin-top: 10px;
	}
}
@media (max-width: 460px) {
	.work__item {
		flex: 0 1 100%;
		&:after {
			content: none;
		}
	}
	.work__text {
		padding-bottom: 20px;
	}
	.work-fas {
		font-size: 60px;
	}
}
